<%inherit file="base.html"/>
<%block name="head">

</%block>
<!-- content start -->
<div class="admin-content">
    <div class="admin-content-body">
        <div class="am-cf am-padding am-padding-bottom-0">
            <div class="am-fl am-cf">
                <strong class="am-text-primary am-text-lg"><a href="${url_for('index')}">首页</a></strong> /
                <small>上月统计</small>
            </div>
        </div>
        <div class="am-g">
            <div class="am-u-sm-12">
                 <div class="am-scrollable-horizontal am-text-ms">
                    <table class="am-table am-text-nowrap">
                        <thead>
                        <tr>

                            <th>用户名</th>
                            <th>金额</th>
                            <th>说明</th>
                            <th>时间</th>
                        </tr>
                        </thead>
                        <tbody>
                            % if all_last_month:
                                % for i in all_last_month['items']:
                                    <tr>

                                        <td> ${i.user.username}</td>
                                        <td>
                                            % if i.cost > 80:
                                                <span class="am-badge am-badge-danger">¥${i.cost}</span>
                                            % elif i.cost> 60:
                                                <span class="am-badge am-badge-secondary">¥${i.cost}</span>
                                            % elif i.cost > 40:
                                                <span class="am-badge am-badge-warning">¥${i.cost}</span>
                                            % elif i.cost > 20:
                                                <span class="am-badge">¥${i.cost}</span>
                                            % else:
                                                <span class="am-badge am-badge-success">¥${i.cost}</span>
                                            % endif
                                        </td>
                                        <td><a href="#"> ${i.title}</a></td>
                                        <td>
                                            ${time_readable(i.time_pay)}
                                        </td>
                                    </tr>
                                % endfor
                            % else :
                                <li style="text-align: center;">
                                    无搜索结果
                                </li>
                            % endif
                        </tbody>
                    </table>
                 </div>
                <div class="am-cf">
                    % if all_last_month:
                        共 ${all_last_month['count_all']} 条记录
                    % endif
                    <div class="am-fr">
                        <ul class="am-pagination">
                          % if all_last_month:
                            % if all_last_month['prev_page']:
                              <li class="am-pagination-prev"><a href="/user?cur_page=${all_last_month['prev_page']}">&laquo; Prev</a></li>
                            % endif
                            % if all_last_month['next_page']:
                              <li class="am-pagination-next"><a href="/user?cur_page=${all_last_month['next_page']}">Next &raquo;</a></li>
                            % endif
                          % endif

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="am-g">
            <div class="am-panel am-panel-default">
                <div class="am-panel-bd">
                    <div class="am-panel am-panel-default">
                        <div class="am-panel-bd">
                            <div class="user-info">
                                <p>上月您已支出￥${cost_last_month}</p>
                                <p>上月人均费用￥${payment_total_last_avg}</p>
                                % for i in payment_person_last :
                                    <p> ${i["username"]}:${i["cost"]} </p>
                                % endfor
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="admin-content-footer">
        <hr>
        <p>Copyright ©2016 Powered By jyx-yzh
            <br> Licensed under MIT license.</p>
    </footer>
</div>
<!-- content end -->




<%block name="script">
    <script src="${static('js/accounting.js')}"></script>

</%block>